body{
  margin:0;
  font-family:Arial;
}

/* TOP */
.topbar{
  background:#111;
  color:#fff;
  text-align:center;
  padding:12px;
  font-weight:bold;
}

/* DESKTOP NAV */
.desktop-nav{
  display:flex;
  background:#222;
}

.desktop-nav a{
  flex:1;
  padding:12px;
  text-align:center;
  color:#fff;
  cursor:pointer;
}

.desktop-nav a:hover{
  background:orange;
}

/* MOBILE NAV */
.mobile-nav{
  display:none;
}

/* MAIN */
iframe{
  width:100%;
  height:85vh;
  border:none;
}

/* CARD */
.container{
  padding:10px;
}

.card{
  background:#fff;
  padding:12px;
  margin:10px;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

input,button{
  padding:10px;
  margin:5px;
}

/* 🔥 MOBILE MODE */
@media(max-width:768px){

  .desktop-nav{
    display:none;
  }

  iframe{
    height:80vh;
  }

  .mobile-nav{
    display:flex;
    position:fixed;
    bottom:0;
    width:100%;
    background:#222;
  }

  .mobile-nav button{
    flex:1;
    padding:10px;
    border:none;
    background:#222;
    color:#fff;
  }

}
/* LOADER FULL SCREEN */
#loader{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

/* CENTER BOX */
.loader-box{
  text-align:center;
  color:#fff;
}

/* K ANIMATION */
.k-loader{
  font-size:40px;
  font-weight:bold;
  margin-bottom:10px;
  letter-spacing:2px;
}
